.prod-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

h1 {
  text-align: center;
  padding: 30px;
  color: #fff;
  background-color: black;
}
